.signuptext{
    color: #beb6b6f5;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-right: 12rem;
}
.beta1{
    color: #beb6b6f5;
    font-size: 11px;
    text-align: left;
    margin-right: 11.5rem;
    margin-top: 0 ;
    margin-bottom: 2rem;
}